<header>
    活动列表
    <div class="header-right">
        <a class="btn-style btn-4" ng-click="go_create_activity()">创建活动</a>
    </div>
</header>
    <div id="wrapper" class="wrapper">
        <p class="p-left" id="my_word" >{{the_activity}}</p>
        <ul class="list-style-2 ">
            <li class=" btn-default" ng-repeat="activity in activities" ng-click="activity_information()">
                <p class="p-left" id="my_activity_word" >{{activity}}</p>
            </li>
        </ul>
    </div>





