

<body>
<!--
  <div class="side-slide-left">
    <ul class="list-style-3">
      <li><a href="user-manage.html"><i class="icon-group"></i> 客户管理</a></li>
      <li><a href="survey-list.html"><i class="icon-comments"></i> 群发调查</a></li>
      <li class="active"><a href="weibo-list.html"><i class="icon-twitter"></i> 微博分析</a></li>
      <li><a href="setting.html"><i class="icon-cogs"></i> 设置</a></li>
    </ul>
    <h2>客户通</h2>
  </div>

  <div class="side-slide-mask"></div>-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PartyBid</title>
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
<link href="css/android.css" rel="stylesheet" media="screen">

<script src="js/jquery-2.0.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script type="application/javascript" src="js/iscroll-lite.js"></script>
<script type="text/javascript">

    var myScroll;
    function loaded() {
        setTimeout(function () {
            myScroll = new iScroll('wrapper');
        }, 100);
    }

    window.addEventListener('load', loaded, false);


</script>



<header>
    创建活动
    <div class="header-left">
        <a class="btn-style btn-4" ng-click="go_to_activity_list()">返回</a>  <!--btn-style btn-4 是用来控制方框的 -->
    </div>
</header>

<form class="wrapper-inner">
<div id="wrapper" class="wrapper">
    <ul class="list-style-2">
        <h3>活动名称</h3>
        <input type="text" class="input-full" ng-model='input_text'  ng-disabled='false' />
        <li ng-repeat="activity in activities"  />
        <li>
            <!--<a href="" class="btn-style btn-2" ng-disabled='!input_text'-->
               <!--ng-click="go_sign_up()">创建</a>-->
            <button class="btn btn-default btn-lg btn-block full" ng-disabled='!input_text'
                     ng-click="go_sign_up(input_text)" >创建</button>
        </li>
    </ul>
</div>

<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li class="active"><a href="weibo-list.html">报名</a></li>
        <li><a href="weibo-analyze-list.html">竞价</a></li>
    </ul>
</footer>


</body>
</html>