<header>
    创建活动
    <div class="header-left">
        <a class="btn-style btn-4" ng-show="WeatherToShow_fanhui()" ng-click="go_to_activity_list()">返回</a>  <!--btn-style btn-4 是用来控制方框的 -->
    </div>
</header>

<!--<form class="wrapper-inner">-->
<div id="wrapper" class="wrapper">
    <ul class="list-style-2">
        <h3>活动名称</h3>
        <input id="CreateActivity" type="text" class="input-full" ng-model='input_text'  ng-disabled='false' />
        <p  ng-show="check_repeat" >
        <font size="1" color="red">您输入了重复的活动名称</font>
        </p>
        </br></br>
        <li ng-repeat="activity in activities"  />
        <li>

            <button class="btn btn-default btn-lg btn-block full" ng-disabled='!input_text'
                     ng-click="go_sign_up(input_text)" >创建</button>

        </li>

    </ul>
</div>


<!--</body>-->
<!--</html>-->