
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>sign_up</title>

<script type="text/javascript">
    var myScroll;
    function loaded() {
//        setTimeout(function () {
//            myScroll = new iScroll('wrapper');
//        }, 100);
    }
    window.addEventListener('load', loaded, false);

    $(document).ready(function() {
        $(".side-slide-trigger").click(function() {
            $(".wrapper").addClass("side-slide-right");
            $("header").addClass("side-slide-right");
            $("footer").addClass("side-slide-right");
            $(".side-slide-mask").addClass("mask-on").delay(0).queue(function () {
                $(this).addClass("side-slide-right");
                $(this).dequeue();
            });
        });
        $(".side-slide-mask").click(function() {
            $(".side-slide-mask").removeClass("mask-on").removeClass("side-slide-right");
            $(".wrapper").removeClass("side-slide-right");
            $("header").removeClass("side-slide-right");
            $("footer").removeClass("side-slide-right");
        })
    })
</script>

<!--<div class="side-slide-left">-->
    <!--<ul class="list-style-3">-->
        <!--<li><a href="user-manage.html"><i class="icon-group"></i> 客户管理</a></li>-->
        <!--<li class="active"><a href="survey-list.html"><i class="icon-comments"></i> 群发调查</a></li>-->
        <!--<li><a href="weibo-list.html"><i class="icon-twitter"></i> 微博分析</a></li>-->
        <!--<li><a href="setting.html"><i class="icon-cogs"></i> 设置</a></li>-->
    <!--</ul>-->
    <!--<h2>客户通</h2>-->
<!--</div>-->

<!--<div class="side-slide-mask"></div>-->

<header>
    活动报名
    <div class="header-right">
        <a  class="btn-style btn-4" ng-click="StartSignUp()"><i></i> {{start}}</a>
    </div>
    <div class="header-left">
        <a class="btn-style btn-4"  ng-click="go_Activity_List()"
                >返回</a>
    </div>

</header>



<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li><a href="survey-list.html"><i class="icon-group"></i><br />报名</a></li>
        <li class="active"><a href="survey-history.html"><i class="icon-comments"></i><br />竞价</a></li>
    </ul>
</footer>
